img {display: block; }

.lists ul li {list-style-type:circle;}

.PS4{color: white;
    background-color: blue;}

.Nintendo{color: white;
    background-color:red;}

.PC {color: white;
     background-color: green;}

     h1 {text-align: center;}

     table {border: 2xp solid black ;}



